{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block titrePage %}
<span>la carte</span> {{ pizzeria.nom }}
{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Pizza</th>
        
        <th>Prix</th>
        <th></th>
    </tr>
    {% for pizza in pizzeria.pizzas %}
        <tr>
            <td>{{ pizza.nom }}</td>
            <td>{{ (pizzeria.marge * pizza.cout)|round(2) }}
                <span class=tp-detail-eur-carte>€</span>
            </td>
            <td>
                <i class="fa fa-phone" aria-hidden="true"></i>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}