{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block titrePage %}
<span>la pizza</span> {{ pizza.nom }}
{% endblock %}

{% block body %}
<ul>
    <div class="tp-detail-title">
        Prix de fabrication
        <span class="tp-detail-prix">
            {{ pizza.getCout() }} 
            <span class="tp-detail-prix span">
                €
            </span>
        </span>
    </div>
    </br>
    <div class="tp-detail-title">
        Ingrédients
        {#liste qui récupère le nom des ingrédients de la pizza séléctionnée #}
        <span class="tp-detail-ingredients">{% for listIngredient in pizza.quantiteIngredients %}
            {{ listIngredient.ingredient.nom }}
            {% if not loop.last %},{% endif %}
            {% endfor %}
        </span> 
    </div>
</ul>
{% endblock %}